<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.email %>
</p>
<div id="comments">
	<h2><%= @question.comments.count %> Comments</h2>
	<%= render @question.comments %> 
	<h3>Add a comment:</h3>
	<%= render "comments/form" %>
</div>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
